---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header class="wrapper py-[fluid(3rem,5rem)] text-center">
  <h1
    class="text-pretty text-[length:fluid(2rem,3rem)] font-bold leading-normal kerning-all [word-break:auto-phrase]"
  >
    {title}
  </h1>
  <p class="mt-3 text-sm empty:hidden"><slot /></p>
</header>
